[2019-06-28 19:53] macumber opened #2 "Push to rubygems"
- [ ] Check license and authors
- [ ] Tag release
- [ ] Push to rubygems

[2019-10-04 16:50] tijcolem commented on #2
We have to wait until the main repository https://github.com/NREL/openstudio-measures is released before pushing this out. We have to copy changes from that repository to this.

Eventually, the goal is to have all measures in one repository.

[2020-02-21 16:07] tijcolem commented on #2
Closing. Part of the release process checklist. https://github.com/NREL/OpenStudio/issues/3526

[2020-03-02 16:35] #2 closed

[2020-03-02 16:35] nllong commented on #2
This has been pushed with the new OpenStudio measures on 2/29/20

https://rubygems.org/gems/openstudio-common-measures

[2020-03-02 16:37] nllong opened #13 "Support OpenStudio 3.0"
Need to update version of Ruby and related libraries to support OpenStudio 3.0. This will require bumping the version of this gem to 0.2.x.

[2020-03-30 17:12] DavidGoldwasser commented on #13
There are 100 tests that fail or error across 11 measures.  Here are the categories they fall into
- issues with standards gem changes (Matt D looking into)
- Intersect issue on create bar (see log below). This works on 2.9.1 and not 3.0. I don't think this is related to standards, could be ruby upgrade, or could be OpenStudio change.
- Radiance tests (not familiar with this measure, I'll look at

[2020-03-30 17:20] DavidGoldwasser commented on #13
For create_bar_from_building_type_ratio I confirmed the intersection is for the 5 failures (out of 74 total tests). None of them fail in 2.9.1. There are known issues with intersection and I don't know that we can do anything about it now, but we should address as soon as we can. The work around for this if soeone hits in actual use it to bypass intersection by making mid story floors and ceilings

[2020-03-30 21:11] DavidGoldwasser commented on #13
The radiance measure issue seems like it isn't a real issue. I was running through system ruby instead of the openstudio CLI so I could  more easily use custom standards gem. The measures were failing to access output files used by the measure. When I went back to running the measure test through the CLI, it ran without any errors. CI will later will confirm this is still the case.

[2020-05-09 12:40] #13 closed

[2020-06-24 23:28] rwadhwa910 opened #22 "Part of Open studio Results measure (Plant Loop) showing error"
The updated version of Open studio results measure is not able to run the plant loops detail section. It shows an error Undefined Local Variable or Method 'compressormotorefficiency'. I have attached the screenshot. Apart from  this error the measure runs successfully  and all other result reports are generated.

![Screenshot (16)](https://user-images.githubusercontent.com/63880759/85637275-01a564

[2020-06-25 19:28] DavidGoldwasser opened #23 "OpenStudio Results issue on OpenStudio 3.0 when measure comes from BCL vs. this GitHub repo."
https://unmethours.com/question/45411/pat-fails-as-soon-as-i-add-the-openstudio-results-measure/

The relevant error code there is
```[09:45:59.636249 ERROR] :/ruby/2.5.0/gems/openstudio-workflow-2.0.0/lib/openstudio/workflow/util/measure.rb failed with message Error assigning argument in measure :/ruby/2.5.0/gems/openstudio-workflow-2.0.0/lib/openstudio/workflow/util/measure.rb. Failed with undef

[2020-06-25 19:29] DavidGoldwasser opened #24 "OpenStudio Results - updated begin/rescue causing problems with 2.x use due to ruby version change"
https://unmethours.com/question/45411/pat-fails-as-soon-as-i-add-the-openstudio-results-measure/

It should support back to 2.0 (to allow for this it still has rescue files included with it, since some supported versions of OpenStudio didn't include the OpenStudio extension gem.

I was going to test it in 2.9.1 PAT and OS App, but I was able to reproduce error just with measure test

Error: /Users

[2020-06-25 20:50] DavidGoldwasser commented on #23
I can reproduce this if I run OSM with openstudio_results from BCL which loads into app but doesn't show measure arguments. Here is part of my run.log

```[14:42:09.270582 ERROR] Found error in state 'preprocess' with message [":/ruby/2.5.0/gems/openstudio-workflow-2.0.0/lib/openstudio/workflow/util/measure.rb failed with message Error assigning argument in measure :/ruby/2.5.0/gems/openstudio-wor

[2020-06-25 21:43] rwadhwa910 commented on #23
@DavidGoldwasser  I have the same issue with my machine and I am attaching my run.log file results here.

[15:33:37.357560 ERROR] :/ruby/2.5.0/gems/openstudio-workflow-2.0.0/lib/openstudio/workflow/util/measure.rb failed with message Error assigning argument in measure :/ruby/2.5.0/gems/openstudio-workflow-2.0.0/lib/openstudio/workflow/util/measure.rb. Failed with undefined method `measure_warning

[2020-06-26 22:50] DavidGoldwasser commented on #23
This was a corruption issue on BCL so there wasn't a change required here. For some reason multiple `os_lib_reporting.rb` became associated with the same measure (`openstudio_results`) and an older outdated one was getting put in the zip file instead of the new one. Solution for now was to manually make zip file and manually upload it via web interfaces; instead of using rake stage and rake push.

[2020-06-26 22:50] #23 closed

[2020-06-26 22:51] DavidGoldwasser commented on #24
I reverted the begin/rescue code for this measure and pushed it to BCL, but I want to keep it open until I update other reporting measures that likely have the same issue.

[2020-07-14 22:10] DavidGoldwasser opened #25 "Add inclusion and exclusion list art to set_exterior_walls_and_floors_to_adiabatic"
This measure currently has bool arguments for north, south, east, west, exterior floor, ground floor, and exterior roof. I have use case that needs an inclusion and exclusion list by surface name. Each of this arguments will contain one ore more surface names separated with vertical pipes, want to avoid using commas in the string.

- Surface in the inclusion list will be set to adiabatic independe

[2020-07-20 15:48] DavidGoldwasser opened #26 "enhancements to new warning section of OpenStudio Results"
I recently added a warning section that logs in HTML warnings from upstream measures. It also adds runner.registerValues that can be used to evaluate datapoints in large scale analyzes easier. Here are few enhancements I'd like to add.

- [ ]  Forward translation warnings that you see as user if you manually export IDF in GUI but are hidden from most workflows. (This may not be possible but I want

[2020-07-22 21:42] DavidGoldwasser opened #27 "view_model and view_data failing for Windows user: failed with "\xC3" from ASCII-8BIT to UTF-8"
[18:12:57.715833 ERROR] :/ruby/2.5.0/gems/openstudio-workflow-2.0.0/lib/openstudio/workflow/util/measure.rb failed with message Runner error :/ruby/2.5.0/gems/openstudio-workflow-2.0.0/lib/openstudio/workflow/util/measure.rb failed with "\xC3" from ASCII-8BIT to UTF-8, :/ruby/2.5.0/json/common.rb:224:in `encode'
:/ruby/2.5.0/json/common.rb:224:in `generate'

Using OpenStudio Application 1.0 and la

[2020-07-22 21:57] DavidGoldwasser commented on #27
I was able to reproduce this with view_data but not with view_mac on my mac using OpenStudio Application 1.0

`"\"\\xC3\" from ASCII-8BIT to UTF-8\n\t:/ruby/2.5.0/json/common.rb:224:in `encode'\n\t:/ruby/2.5.0/json/common.rb:224:in `generate'\n\t:/ruby/2.5.0/json/common.rb:224:in `generate'\n\t/private/var/folders/83/rcnbz4dd5qqgf7rpc69354_x0g1kng/T/osmodel-1595454666-1/resources/measures/ViewData

[2020-07-31 15:28] DavidGoldwasser opened #28 "Fix Ventilaiton Report"
Confirm first if that is VentilationQAQC or if Ventilation Report is on a different repo
https://unmethours.com/question/46251/ventilation-report-measure/?answer=46282#post-id-46282

Looking at BCL, they appear to be the same
https://bcl.nrel.gov/node/84712

[2020-07-31 15:28] DavidGoldwasser commented on #28
@asparke2 did you develop this measure? I had not worked on it.

[2020-07-31 15:45] eringold commented on #28
I was looking at the version in OpenStudio-measures:
https://github.com/NREL/OpenStudio-measures/tree/develop/nrel_published/VentilationQAQC
But it's also located in (at least) openstudio-common-measures-gem:
https://github.com/NREL/openstudio-common-measures-gem/tree/develop/lib/measures/VentilationQAQC
which also has the deprecated methods:
https://github.com/NREL/openstudio-common-measures-gem/

[2020-07-31 15:55] DavidGoldwasser commented on #28
@eringold I'm negligent at merging this down, but this pull request removes all of the nrel_published measures that have been moved to public measure gem repos
https://github.com/NREL/OpenStudio-measures/pull/318

[2020-07-31 19:31] asparke2 commented on #28
@DavidGoldwasser I don't remember, but probably so.  I've got no availability to work on anything beside EULP and ComStock, so if this needs to get fixed someone who has time planned on OS will have to fix it.

[2020-08-17 22:59] DavidGoldwasser commented on #28
Fixed by pull request #29

[2020-08-17 22:59] #28 closed

[2020-08-17 23:04] #24 closed

[2020-08-25 09:51] GurneetMonga opened #31 "Add Rooftop PV Measure"
The measure adds shading surface and assign PV object to shading surface however it does not take into account building north axis and hence results in this kind of output. Request to kindly include building north axis and assign directionofRelativeNorth to the surface group.
![Add Rooftop PV measure(1)](https://user-images.githubusercontent.com/70201924/91160083-997a0a00-e6e6-11ea-9210-18058357b6

[2020-08-25 09:52] GurneetMonga opened #32 "Add Daylight sensor at the centre of the space measure"
This measure is very useful in adding daylight control in the space. There is one suggestion if we can also add an input field on 'Number of Stepped Control steps' as it is not there in the present input parameters. Presently the user has to go back to sketchup and add this input in every daylight control. request you to add that as input parameters

[2020-08-25 16:43] DavidGoldwasser opened #33 "Changes will be required to OpenStudio Results for measure for OpenStudio 3.1/EnergyPlus 9.4"
@jmarrec hi-lights some of this in openstudio3 slack channel.

The changes should be made here
https://github.com/NREL/openstudio-common-measures-gem/blob/develop/lib/measures/openstudio_results/resources/os_lib_reporting.rb

There is a copy of this in the extension gem that may create conflicts, unless I keep that in sync with this I should remove it from extension gem. OpenStudio results has bee

[2020-08-25 16:48] DavidGoldwasser commented on #33
As a note "os_lib_reporting" is not a general use library file like the others, is used by one or 2 other measures in a private repo that are slightly modified and probably outdated version of OpenStudio results. My preference at the moment is to remove it from extension gem, and if other measures are published, they should use unique module name and embed the file with the measure.

@nllong any t

[2020-08-26 04:24] GurneetMonga commented on #31
I added the following code and it worked for me, so that I will share the same.

if (model.building.get.northAxis == 0.0)
	shading_surface_group.setDirectionofRelativeNorth(surface.space.get.directionofRelativeNorth)
	else
	shading_surface_group.setDirectionofRelativeNorth(model.building.get.northAxis)
	end

[2020-09-03 00:18] DavidGoldwasser opened #34 "Test for EnableIdealAirLoads is skipped"
I was running it to see if `zone.useIdealAirLoads` functions in the measure and saw the test was skipped. We should enable it and fix what is needed

[2020-09-10 05:12] macumber commented on #33
I agree with this @DavidGoldwasser.  The OpenStudio Results measure includes a bunch of sizing models from from OpenStudio Standards but those have not been kept up to date.  I started a pattern in the extension gem where you would try to load files from any active gems first and then fall back to files in the resources directory as a backup:

https://github.com/NREL/openstudio-extension-gem/blob/

[2020-09-10 05:47] DavidGoldwasser commented on #26
Few other issues with this.

- [ ] The summary table is after the measure tables, it should be first
- [ ] When "* See OSW file for full list of warnings. This measure has 85 warnings." is triggered, is should only appear once, but appears for each additional warnings.

[2020-09-11 15:41] DavidGoldwasser commented on #26
- [ ] Add the runner.registerValues into the method that populates PAT with output options, so it is easier for users to find and use.

[2020-09-11 22:37] DavidGoldwasser commented on #33
@macumber yes I'm going to update for changes in 9.4, Thanks for heads up about another FuelOil change. I'm going to use this branch that I already made for some enhancements to the measure.
https://github.com/NREL/openstudio-common-measures-gem/tree/os_results_warn_enhance

@mdahlhausen and @asparke2 are all of those `Size.Object` still necessary here or can they be called directly from standards

[2020-09-11 22:43] DavidGoldwasser commented on #33
I'll likely increase `<min_compatible>3.0.0</min_compatible>` to 3.1.0 vs. trying to support EnergyPlus 9.3 and 9.4

[2020-09-12 03:08] macumber commented on #33
I'd suggest tagging a release of this repo for OS 3.0 and another tag to go along with OS 3.1.  That way 3.0 users can grab measures that work with OS 3.0.

[2020-09-12 11:15] asparke2 commented on #33
@DavidGoldwasser yes, the `Siz.Object` files are still needed because the methods they implement are not in the C++.

[2020-09-17 21:48] DavidGoldwasser commented on #26
-[] May also add EUI based on conditioned floor area when it isn't the same as gross. Note I also already add a second EUI when there is generation to have net vs. consumed (can't remember what I named it) Not sure if I should potentially have 4, or keep it simpler to not do all combinations of the 4 possible EUI's for building that has generation and some unconditioned spaces.

[2020-09-21 15:20] DavidGoldwasser opened #35 "3.1.0 upgrade issues"
OpenStudio Results already has a few issues, this issue is a catchall for other measures that need updates for 3.1.0. Below is 9.18 run results for `openstudio measure -r` on local run on mac.

![Screen Shot 2020-09-21 at 9 16 10 AM](https://user-images.githubusercontent.com/4857055/93785273-21223e00-fbeb-11ea-90e9-f6dd9fecfb85.png)

Failures are on
- [ ] OpenStudio Results (see other issues)
- [x

[2020-09-21 15:27] DavidGoldwasser commented on #35
**RadiantSlabWithDoas

- [ ] test_multi_zone_office_3C_ceiling** the error below was also seen on prototype/baseline/create_typical measures and may require fix to standards gem.

ArgumentError: comparison of FalseClass with 20 failed :/ruby/2.5.0/bundler/gems/openstudio-standards-b0cabd8c2fa8/lib/openstudio-standards/prototypes/common/objects/Prototype.hvac_systems.rb:417:in

- [ ] The other tree

[2020-09-21 19:18] DavidGoldwasser commented on #33
@macumber Yes, I will make another tag and release for OS 3.1 but it will probably fall a few days to a week after the official release of OpenStudio 3.1

[2020-09-21 23:01] DavidGoldwasser commented on #26
- [ ] Didn't find data for Site Outdoor Air Drybulb Temperature shows up for HVAC load profiles tables (tested in 3.0.1)

[2020-09-23 22:15] DavidGoldwasser commented on #26
- [ ] Hard coded fix due to error in OpenStudio with fuel types when call `OpenStudio::EndUseFuelType.getValues`. Once fixed in OpenStudio I can remove the hard coded values here.

[2020-09-23 22:20] DavidGoldwasser commented on #26
- [ ] Data isn't showing up for heating in HVAC load profile or for monthly heating, likely due to change in fuel type

[2020-09-25 15:24] DavidGoldwasser commented on #26
- [ ] Add test model with heating fuel other than Electricity or Natural Gas

- [ ] On test above and on test with Natural Gas heating add in check (using runner.registerValue) for monthly heating end use and assure non-zero value. I may have to set `reg_monthly_details` to true to do this. I don't want to have to try to grab out of HTML, so this seems like the easiest way.

[2020-09-25 15:35] DavidGoldwasser commented on #33
- [ ] ViewData test with 3.1.0 has failure with Unknown OpenStudio Enum Value. I'm testing on dev installer that has the fuel types updated, so may need update in measure or test. I can take a look at that since I have access to most recent 3.1.0 alpha installer. Might just need to update test and not measure?

Other measures that have test failure with 3.1 are

- [ ] QAQC measure (I'll look at th

[2020-09-25 21:01] jmarrec commented on #33
Isn't this gem embedded in the cli? It might not be, sometimes i loose track

[2020-09-28 15:12] DavidGoldwasser commented on #35
- [ ] While I don't recall seeing it on earlier 3.1 tests, I'm seeing an error on View Data where a model is being forward translated to IDF and then reverse translated back to OSM.
[code]

[2020-09-28 15:24] jmarrec commented on #35
I would pinpoint exactly what's causing this. It seems that it's trying to reverse translate an object, and tries to construct an enum from a text value, except that text is `''` (empty). Any OpenStudio enum constructed with an empty string would fail with this message.

eg:

[code]

[2020-09-28 16:11] DavidGoldwasser opened #36 "update generic QAQC to use the extension gem"
Currently while the ruby library for this is in the extension gem the measure uses its own copy. There are a few other non-generic versions of this some developed by external organizations. When I first tried to use the ext gem I hit issue linking back to the report.html.erb file. That file could be put on ext gem as well if it is consistent between organizations.

This can be sometime after 3.1 r

[2020-09-28 17:27] DavidGoldwasser commented on #35
@jmarrec I'll send IDF and OSM in Slack. I also filed OpenStudio Issue
https://github.com/NREL/OpenStudio/issues/4096

[2020-09-29 00:29] DavidGoldwasser commented on #35
view_data fixed by fix for this OS issue https://github.com/NREL/OpenStudio/issues/4096. I made commit to measure anyway to update test OSM from 1.1.3 to 3.0.1

[2020-09-29 00:30] DavidGoldwasser commented on #35
@jmarrec that commit did the trick. I ran both the test code above and the full measure test.

[2020-09-29 18:31] #35 closed

[2020-10-01 06:39] DavidGoldwasser commented on #33
- [ ] Issue with space plug load when non-default multiplier is used https://unmethours.com/question/47726/open-studio-291-plug-load-multiplier-errror/

[2020-10-01 07:51] #25 closed

[2020-10-01 07:51] #26 closed

[2020-10-01 07:52] #33 closed

[2020-11-30 18:43] eringold opened #45 "OpenStudio Results tries to query information that ForwardTranslator removes"
@DavidGoldwasser
There is a corner case where the OpenStudio Results measure will try to query information from the sql file based on what it found in the OSM, but encounters a problem because the OSM content had not passed through Forward Translation, and thus doesn't exist in the sql.

I encountered a 'wrong number of arguments' error in the Envelope Section [here](https://github.com/NREL/openst

[2020-12-02 23:04] DavidGoldwasser commented on #45
I added a new warning section at the end of the measure that lists all measure warnings (from earlier measure or OpenStudio Results). I'd like to extend this to show forward translation errors as well, but I don't know how to do that yet. I have to give it some thought. Those are not written in the out.osw file and are not accessible in runner results like measure warnings.

Your example isn't uni

[2020-12-08 22:28] kflemin opened #49 "bump extension gem to get newer version of workflow gem"

[2020-12-08 23:58] #49 closed

[2020-12-16 17:53] DavidGoldwasser opened #52 "Bump envelope and internal load min version"
Doesn't work in 2.9, does in 3.1.0. There were a lot of E+ 9.4 changes. So unless I either need to test and confirm it still works with 3.0.0 or set min to 3.1.0

[2021-01-04 00:02] macumber opened #53 "View Model and View Data measures are missing rendering color for Foundation"
Foundation surfaces show up White, just need to add a color to https://github.com/NREL/openstudio-common-measures-gem/blob/develop/lib/measures/view_model/resources/va3c.rb#L240

[2021-01-27 16:49] juliobetta opened #55 "ChangeBuildingLocation Error: Comparison of String with 0 failed"
https://github.com/NREL/openstudio-common-measures-gem/blob/35c59628af39507f0048873f103dbeac385b0936/lib/measures/ChangeBuildingLocation/measure.rb#L199

[out.json.zip](https://github.com/NREL/openstudio-common-measures-gem/files/5881710/out.json.zip)

I'm getting this error for the argument `set_year`. Even though I'm passing in as a number (see output file attached).

Is this something that a si

[2021-01-27 23:41] DavidGoldwasser commented on #55
@juliobetta I see the issue here. You are setting "use_upstream_args" to true because you need to pull values from registerValues o that measure. The method we have for that adds value as a string and doesn't check for bool, integer, or double. I see I already add work arounds for specific arguments like `zipcode` and `number_of_stories_above_grade`. I can add a quick fix in a few minutes and I'll

[2021-01-27 23:46] DavidGoldwasser commented on #55
Here is working branch for fix.
https://github.com/NREL/openstudio-common-measures-gem/tree/fix_issue_55_change_building_set_year_upstream

[2021-01-27 23:56] DavidGoldwasser commented on #55
@juliobetta Sorry I missed your pull request before I made a new branch. Thanks you for doing that!

[2021-01-27 23:56] #55 closed

[2021-01-28 01:13] juliobetta commented on #55
hah, no worries! thank YOU @DavidGoldwasser

[2021-02-23 22:06] DavidGoldwasser opened #59 "zone report SQL queries are not working"
Here is UH post, I thought I had filed this but must not have
https://unmethours.com/question/41630/bcl-zone-report-measure/?comment=52004#post-id-52004

I'm also going to delete duplicate copy of measure on calibration gem repo
https://github.com/NREL/openstudio-calibration-gem/tree/develop/lib/measures/zone_report

Will maintain this one instead
https://github.com/NREL/openstudio-common-measures

[2021-03-22 20:40] DavidGoldwasser opened #63 "Issue with OpenStudio Results fenestration calculations"
This was pointed out by a user on[ UH with this post](https://unmethours.com/question/53323/why-does-openstudio-not-correctly-calculate-my-subsurface-area-size/) and as shown below I see issue with both windows and doors when comparing to the EnergyPlus table.

![Screen Shot 2021-03-22 at 2 35 09 PM](https://user-images.githubusercontent.com/4857055/112055433-74ceff00-8b1c-11eb-9cad-b09a915df125.p

[2021-03-22 20:42] eringold commented on #63
FYI: https://github.com/NREL/OpenStudio-measures/issues/320

[2021-03-22 20:47] DavidGoldwasser commented on #63
@eringold thanks for pointing out that old issue, sorry I didn't catch that before. I'll make that change and a pull request here shortly.

[2021-03-22 21:23] DavidGoldwasser commented on #63
Here is screenshot of test model (not same as above) after the fix. ft^2 on left m^2 on right

![Screen Shot 2021-03-22 at 3 22 38 PM](https://user-images.githubusercontent.com/4857055/112060205-7ef3fc00-8b22-11eb-9015-673b6599ebd2.png)

[2021-03-23 13:23] #63 closed

[2021-03-24 15:33] DavidGoldwasser commented on #45
@kbenne I added a warning section to the OpenStudio Results measure that adds upstream measure warnings to the HTML table. Forward translation errors are generally hidden from the user, and I would love to include those here as well, as they would alert user of common errors such as a space not being assigned to a zone. Do you have any suggestions for best approach to access forward translator war

[2021-03-29 21:59] shorowit opened #65 "Tariff Selection-Flat measure needs to be updated for newer E+ versions"
https://github.com/NREL/openstudio-common-measures-gem/blob/develop/lib/measures/tariff_selection_flat/measure.rb#L230

Should be "NaturalGas:Facility" for E+ 9.4. See https://unmethours.com/question/53476/why-are-my-openstudio-results-showing-different-utility-rates-than-my-tariff-measure-inputs/?answer=53621#post-id-53621

Might be worth auditing other measures for similar errors.

[2021-03-30 19:35] erikkolderup commented on #65
This problem also applies to the measure, Tariff Selection - Time and Date Dependant"

[2021-04-05 23:28] shorowit opened #68 "envelope_and_internal_load_breakdown syntax error"
Multiple users hitting this:
- https://unmethours.com/question/53278/thermal-gainloss-through-construction-set/
- https://unmethours.com/question/53794/envelope-and-internal-load-breakdown-os-measure-syntax-error/

The measure is definitely broken, there is a `rescue` ([here](https://github.com/NREL/openstudio-common-measures-gem/blob/e8da77dcaee0b41970ed012d2c2be45e02d22234/lib/measures/envelope_

[2021-04-05 23:36] shorowit commented on #68
Also, how could the tests for this measure possibly work?

[2021-04-06 23:38] DavidGoldwasser commented on #68
@shorowit I'll look into those posts more, but that change in how rescue was added by code cleanup I think when we went to Ruby 2.5, here is a link to old code. The rescue code does work this way. I will try to look at what is happening with those posts and add new tests for them.
https://github.com/NREL/openstudio-common-measures-gem/blame/ed1ec3406dffbb2fd2460264bc737c6ca0f59201/lib/measures/env

[2021-04-06 23:42] DavidGoldwasser commented on #68
@shorowit one of them was messed up download from BCL, which was fixed by throwing away and re-downloading, the other is trying to run the measure in 2.x, which uses older Ruby. I probably just need to upgrade this to 3.0 or even 3.1 or higher (whenever the last time sql changes were made in E+ that this uses). People using older OS will have to get the measures from older measure gem releases.

[2021-04-07 00:06] shorowit commented on #68
Thanks @DavidGoldwasser, I stand corrected. Apparently the rescue statement in ruby [doesn't always require a begin](https://www.rubyguides.com/2019/06/ruby-rescue-exceptions/). So I guess the code is fine and, as you said, the measures just need to be updated to have a minimum version so they aren't used with an incompatible ruby/OS.

[2021-04-15 17:01] DavidGoldwasser commented on #68
Related to issue #52

[2021-04-15 22:47] #68 closed

[2021-04-15 22:47] #65 closed

[2021-04-15 22:48] #52 closed

[2021-04-15 22:50] #36 closed

[2021-04-28 14:44] DavidGoldwasser commented on #45
@jmarrec do you have any ideas how I could access forward translation errors from within a reporting measure. My goal is to make them more visible to modelers by adding them to the measure warnings that I already include with OpenStudio results. Common error users might see is a space in the model that isn't included in any thermal zones and will be removed from the model.

[2021-05-21 14:46] jmarrec commented on #45
@DavidGoldwasser Sorry I completely has missed this. No ideas no.... the logMessages are on the ForwardTranslator, by the time the reporting part of the measure is called, the FT is long gone...

[2021-05-28 17:21] DavidGoldwasser commented on #45
@kbenne would it seem reasonable to enhance what is written to the out.osw file to include the forward translator warnings.

[2021-06-10 17:15] tijcolem opened #75 "XML error due to merge conflict blocks"
Looks like a merge conflict blocks (e.g. <<<<<HEAD) got committed into 0.4.0.
https://github.com/NREL/openstudio-common-measures-gem/blob/v0.4.0/lib/measures/view_model/measure.xml

I ran `grep -r '<<<<<<< HEAD' *` and this was the only file that popped up.

[2021-07-06 18:35] shorowit opened #76 "UnmetLoads measure needs to be updated for OSv3"
The measure is still using [an old method](https://github.com/NREL/openstudio-common-measures-gem/blob/916975bace57da4d784f7e73d85ea02eed15566c/lib/measures/UnmetLoadHoursTroubleshooting/measure.rb#L291) that was [removed for OS v3](https://github.com/NREL/OpenStudio/pull/3382).

I believe it needs to be changed from:
`exit_temp = plantloop.sizingPlant.getDesignLoopExitTemperature.value`
to:
`exit

[2021-07-08 21:28] #75 closed

[2021-07-08 21:34] DavidGoldwasser opened #78 "bundle exec rake openstudio:update_measures always adds extra empty line to reporting measure erb files"
@nllong Maybe this should be in extension gem as it isn't unique to this repo. Happens on any reporting measures.

Here is what is odd. The description of the rake task is.  Run the CLI task to check for measure updates, but if I use the CLI and use `openstudio measure -u lib/measures/reporting_measure` or `openstudio measure -t lib/measures/` it doesn't do this. Only when I do it through the rake

[2021-07-08 21:36] DavidGoldwasser commented on #78
There is a collection of blank lines that have expanded over time. Doesn't impact how it renders but these unneeded updates create merge conflict headaches.

[2021-07-22 22:20] DavidGoldwasser opened #79 "update generic_qaqc for 90.1 2016 and 2019"
Add one test for each of this and also test with comstock versions of 90.1 if I'm going to dynamically generate standard choices from the extension gem.

- [x] dynamic generate choices from ext gem
- [x] add test for 2016
- [x] add test for 2019
- [x] add test for comstock version of 90.1 (or hide from possible choices)
- [x] Update report messages so 2013 isn't hard coded
- [x] update documentati

[2021-09-24 21:05] DavidGoldwasser opened #83 "Conform why changing natural gas to gas in line of resource for OpenStudio Results"
https://github.com/NREL/openstudio-common-measures-gem/blob/v0.3.2/lib/measures/openstudio_results/resources/os_lib_reporting.rb#L3662

[2021-10-29 20:23] DavidGoldwasser opened #86 "Get current replace_osm and replace_idf in this repo or another measure gem"
This seems like better location than articulation or ee.

[2021-11-18 04:56] DavidGoldwasser opened #89 "add check for OS:OutputControl:Files object with Output SQLite set to no"
https://unmethours.com/question/63657/openstudio-simulation-error-showing-cannot-find-last-sql-file/

Low priority could be good to check for this in OpenStudio results. It is a confusing failure of datapoint now where no indication of why SQL file isn't generated. This object isn't exposed in the OpenStudio application. Maybe see how widespread it is before spending the time on thisl

[2022-03-29 18:11] mdahlhausen opened #91 "Add ground temperatures to ChangeBuildingLocation measure"
Copying over [this issue](https://github.com/NREL/openstudio-standards/issues/457) from the openstudio-standards repo.
From @[mldichter](https://github.com/mldichter)
"The ChangeBuildingLocation BCL measure creates the Site:Location, Site:WaterMainsTemperature, and SizingPeriod:DesignDay objects in the model based on input epw and stat files. Missing when changing location is the Site:GroundTemper

[2022-04-18 17:56] DavidGoldwasser commented on #79
Current EUI and end use reasonableness doesn't work with 2016, 2019 or ComStock templates. I've added message to indicate that if it returns nil. That can be removed if updated in the future.

[2022-04-18 21:49] DavidGoldwasser commented on #79
- [ ] See why Mechanical System Efficiency is failing
- [ ] Investigate high target water usage volume.

[2022-04-18 21:54] DavidGoldwasser commented on #79
mech sys eff seems to be failing here
https://github.com/NREL/openstudio-common-measures-gem/blob/develop/lib/measures/generic_qaqc/resources/check_mech_sys_efficiency.rb#L189

[2022-04-18 22:35] DavidGoldwasser commented on #79
Boiler capacity is 0 which is causing method above to return false. So seems to be issue with model, but it could be nice to report out details in measure such as capacity, as that doesn't get printed with search criteria.

[2022-04-19 07:01] DavidGoldwasser commented on #79
Fixed order of operations mistake on full service and quick service estimation fo number of meals. It had been over-estimating meals and SWH target for FSR, and under-estimating for QSR.

[2022-04-19 14:02] DavidGoldwasser commented on #79
Not sure if I'll do it now, but at some point make checks that compare to prototype inputs what building type it is compared to. Decide if specific approach is appropriate  for mixed use buildings. Should mixed use be skipped, or created blended expected values. Right now some (EUI and end use) use primary building type, not sure what is done for service hot water.

[2022-04-19 14:04] DavidGoldwasser commented on #79
Part load ratio lookup failed on UO example file. @mdahlhausen would you need more info to diagnose this.
`Didn't find chiller for 90.1-2013 WaterCooled Rotary Screw Chiller 0 1934tons 0.6kW/ton. {"template"=>"90.1-2013", "cooling_type"=>"WaterCooled", "compressor_type"=>"Rotary Screw"}`

[2022-04-19 14:09] DavidGoldwasser commented on #79
Update message on system type check. It isn't really incorrect because use case isn't to make baseline model. I can update message, but maybe for non-baseline use should skip this check.

`Zone FullServiceRestaurant Kitchen B - Story Ground baseline system type is incorrect. Supposed to be VAV_Reheat, but was PSZ_AC instead`

[2022-04-19 14:11] DavidGoldwasser commented on #79
try to extend summary table in report no what tolerances we used? maybe extra two columns for min/max, if add this make sure to add units.

[2022-04-19 14:31] DavidGoldwasser commented on #79
- [ ] For baseline checks replace "expected value" with "baseline" value, here is one example

`U value of 0.47 (Btu/ft^2*h*R) for U 0.48 SHGC 0.40 Dbl Ref-D Clr 6mm/13mm in FullServiceRestaurant Dining - 90.1-2013 is more than 25.0 % below the expected value of 0.77 (Btu/ft^2*h*R) for ASHRAE 90.1-2013.`

U value of 0.47 (Btu/ft^2*h*R) for U 0.48 SHGC 0.40 Dbl Ref-D Clr 6mm/13mm in FullServiceRest

[2022-04-19 14:58] DavidGoldwasser commented on #79
- [ ] See if I can clear up this error when no rule of thumb for SWH. The two I have seen were blended space type models, before fix it confirm if happens on non blended model.

<img width="1237" alt="Screen Shot 2022-04-19 at 8 56 58 AM" src="https://user-images.githubusercontent.com/4857055/164033756-59b6f963-ae70-4aa4-8007-c360b6d64a88.png">

[2022-04-19 15:31] mdahlhausen commented on #79
On the chiller lookup:
`Didn't find chiller for 90.1-2013 WaterCooled Rotary Screw Chiller 0 1934tons 0.6kW/ton.
{"template"=>"90.1-2013", "cooling_type"=>"WaterCooled", "compressor_type"=>"Rotary Screw"}`
This particular chiller has two options depending on the date.  Chillers installed after Jan 1, 2015 have a different efficiency requirement than those installed before that under 90.1-2013.  I'

[2022-04-19 15:32] mdahlhausen commented on #79
"@mdahlhausen do you think there is any value in keeping this check enable for non-baseline use cases?"

no

[2022-04-19 15:51] DavidGoldwasser commented on #79
- [ ] Investigate low target water for hotel The one below is from 300k sqft hotel
`Annual average of 10928 gallons per day of hot water is more than 50.0 % above the expected value of 2802 gallons per day`

[2022-04-21 20:32] mdahlhausen commented on #79
More on the chiller stuff - I'm able to run the `chiller_electric_eir_apply_efficiency_and_curves` method and do the lookup with the same search criteria that isn't working for you.
One think is interesting is `Didn't find chiller for`.  That language never appears in openstudio-standards.  Instead the log message says `For #{chiller_electric_eir.name}, cannot find chiller properties`.  I'm wonder

[2022-04-28 22:35] DavidGoldwasser commented on #79
- [ ] Update envelope check so it uses actual standards construction type instead of hard coded values. This was throwing confusing warnings when I had model with mass wall but it was checking against value for steel frame wall. Also cleanup excess warnings that occur for every space type. Only reason for more than one space type is if one is residential and the other is non-residential.
https://g

[2022-05-02 22:40] DavidGoldwasser opened #98 "view_data normalize zone load data by area or volume"
@macumber I'm using this on a model where there happens to be one large zone that is half of the building volume and 1/4th of the area. This odd zone doesn't impact surface or zone temperatures but does skews the scale for zone load output variables (so all other zones look like one color when they have vary different loads). I don't see something like an EUI in `eplousout.rdd` file. I see two app

[2022-05-03 04:18] macumber commented on #98
Which metric are you looking at?  I think EUI is only reported for the entire building right, you can't get it by zone?  Ideally E+ could just report out what you are looking for.  Maybe the annual zone level reports could be added to the SQL file as timeseries?  Or maybe this measure could know how to get the annual zone level data from the tabular output reports?

I think we should have a call a

[2022-05-03 05:31] DavidGoldwasser commented on #98
A talk sometime after 3.4 is out sounds good. My EUI was a bad example what I want to take zone variable like `Zone Total Internal Total Heating Rate` and divide it by the area of the zone, so that a small and large zone with the same internal load density would have similar colors.

[2022-05-04 05:32] DavidGoldwasser commented on #79
Updating envelope took a lot of work to clean up and extend. In addition to use construction type, I use the space type to look at the building category (typically Nonresidential or Residential) which come with different target performance levels. So the same construction may trigger a message in one space, but not in another.

There is still a lot of work that can be done to improve the current c

[2022-05-04 19:30] #53 closed

[2022-05-22 20:20] DavidGoldwasser opened #106 "Look at section failure in OpenStudio Results"
https://github.com/openstudiocoalition/OpenStudioApplication/issues/519#issuecomment-1119522397

[2022-06-23 23:52] DavidGoldwasser opened #112 "view_model not rendering Cannot access renderRequested error"
@antoine-galataud was missed by CI since measure ran, but noticed when viewing html for another workflow. I thought maybe was specific to 3.4, but happens in 3.3 as well. Wondering if related to recent commit on this. Here is screenshot of console error on Chrome mac for the html made from unit test. I assume view_data may have same issue.

![Screen Shot 2022-06-23 at 5 44 05 PM](https://user-imag

[2022-06-24 05:55] antoine-galataud commented on #112
@DavidGoldwasser ok thanks, I’ll have a look asap.

[2022-07-12 20:04] #112 closed

[2022-07-25 22:59] DavidGoldwasser opened #115 "Place holder for updates needed for release to go with OpenStudio 3.5"

[2022-07-25 23:06] #79 closed

[2022-08-09 22:35] DavidGoldwasser opened #116 "ModifyEnergyPlusCoilCoolingDXSingleSpeedObjects is creating IDF files that fail"
Simulation fails on user model (not test model) see if I can udpate test to reflect this. Need to save idf and then run E+ (maybe short year)

  ** Severe  ** AirLoopHVAC:UnitarySystem = ZONE RETAILSTANDALONE BACK_SPACE A  - STORY GROUND PSZ-AC UNITARY AC
   **   ~~~   ** Input for Heating Supply Air Flow Rate Method is blank.
   **   ~~~   ** Blank field not allowed for this coil type when coolin

[2022-08-10 02:55] DavidGoldwasser commented on #116
This is used by BuildingSync which is upgrading to newer OS. Make sure to update the min version in meaxure.xml to 3.4

[2022-08-26 17:27] chriswmackey opened #117 "EMS Emissions Reporting Seems Incorrect for Annual Historical Case"
I have been using the [add_ems_emissions_reporting](https://github.com/NREL/openstudio-common-measures-gem/tree/develop/lib/measures/add_ems_emissions_reporting) measure and one thing that I noticed is that almost all locations in the US seem to have a huge gap between the [historical annual emissions](https://github.com/NREL/openstudio-common-measures-gem/blob/develop/lib/measures/add_ems_emissio

[2022-09-06 15:33] chriswmackey opened #118 "OpenStudio Results Measure Reports Infiltration in Incorrect SI Units"
We have found a bug in the [openstudio_results measure](https://github.com/NREL/openstudio-common-measures-gem/tree/develop/lib/measures/openstudio_results) in how it reports the infiltration units in SI. The HTML output by the measure says that the units are m^3/**h**/m^2 but the values are very clearly in m^3/**s**/m^2. The units and values are correct when IP units are used.

![image](https://u

[2022-10-12 07:44] DavidGoldwasser opened #120 "Remove resources from generic QAQC"

[2022-10-12 07:47] DavidGoldwasser commented on #120
This was already mentioned in item #4 in project for issue in ext gem.

[2022-11-10 21:28] eringold opened #122 "openstudio_results Zone Equipment Detail section fails with ZoneHVACLowTempRadiantVarFlow"
OpenStudio 3.2.0 made the `OpenStudio::Model::ZoneHVACLowTempRadiantVarFlow` methods `coolingCoil` and `heatingCoil` return [optional HVACComponents](https://github.com/NREL/OpenStudio/commit/0e6252d9a3f17c2c40400b15c1c276c247e899ee).

The openstudio_results resource file Siz.ZoneHVACLowTempRadiantVarFlow.rb calls those methods without checking if the coils are initialized, leading to an undefined